@page "/"

<PageTitle>Home</PageTitle>

<h2>Primer Parcial Aplicada I</h2>
<h3>Jose Rivera</h3>
<h4>2021-0422</h4>

<button class="btn btn-outline-primary"> <Icon Name="IconName.Plus" /> Nuevo</button>

<button class="btn btn-outline-primary"> <Icon Name="IconName.Eye" /> Ver</button>

<button class="btn btn-outline-primary"><Icon Name="IconName.Pencil" /> Modificar</button>

<button class="btn btn-outline-primary"><Icon Name="IconName.Trash" /> Eliminar</button>

<button class="btn btn-outline-secondary"><Icon Name="IconName.Arrow90DegLeft" /> Volver</button>

<button class="btn btn-outline-success"><Icon Name="IconName.Floppy" /> Guardar</button>

<button Class="btn btn-outline-primary"><Icon Name="IconName.Search" /> Buscar </button>

